{% if address is defined %}
    <div {% if display is not defined or not 'small' %}class="grid-row m-bottom-30"{% endif %}>
        {% if display is not defined or not 'small' %}
            <h5 class="label"><%=translate('public.address')%></h5>
        {% endif %}
        <span class="block">
            {{ address.street }}
            {{ address.number }}{% if address.street or address.number is defined %},{% endif %}

            {{ address.zip }}
            {{ address.city }}{% if address.city or address.zip is defined %},{% endif %}

            {{ address.country }}
        </span>
    </div>
{% endif %}
